IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
.center {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.version {
	position: fixed;
	bottom: 0;
	padding-bottom: 10px;
    display: block;
    width: 100%;
	text-align: center;
}
/** {
  outline: 1px solid orange;
}