<!DOCTYPE html>
<html>
<head>
	<title>Instagram Searcher</title>
	<link rel="stylesheet" href="./css/main.css">
	<meta charset="UTF-8">
</head>
<body ng-app="myApp" ng-controller="instagramSearchCtrl">
	<img src="./img/ng-instagram.png" alt="Instagram Searcher" class="displayed">
	<div class="center">
		<form name="myForm" ng-submit="submit()" novalidate>
			<input type="text" name="tagInput" ng-model="formData.tag" placeholder="Enter a tag to search" autofocus required>
			<input id="submitButton" type="submit">
		</form>
	</div>
	<div class="center">
		{{message}}
	</div>
	<div id="resultsDiv" class="center">
		<span ng-class="images" ng-if="haveResults" ng-repeat="image in images">
			<a href="{{image.link}}" target="_blank">
				<img ng-src="{{image.images.low_resolution.url}}" alt="Image by: {{image.user.full_name}}" class="images my-show-hide-animation" ng-hide="fadeResults">
			</a>
		</span>
	</div>
	<br><br>
</body>
<footer>
	<div class="version">Instagram Searcher version: {{version}}</div>
</footer>
	<script text="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular-animate.min.js"></script>
	<script type="text/javascript" src="./scripts/myApp.js"></script>
</html>